
.vs/CPP PRoject/v17/Browse.VC.db
.vs/CPP PRoject/v17/Browse.VC.db-shm
.vs/CPP PRoject/v17/Browse.VC.db-wal
.vs/CPP PRoject/v17/Browse.VC.opendb
.vs/CPP PRoject/v17/Browse.VC.db
x64/Debug/CPP PRoject.pdb
